<!DOCTYPE html>
<html>
  <head>
    <title>ceramicsisters</title>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="/static/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="title-container">
      <div class="title-container__title">ceramicsisters</div>
      <div class="title-container__subtitle">
        <div class="title-container__subtitle__icon">
          <a href="http://instagram.com/ceramic.sisters/" target="_blank"
            ><i class="fa fa-instagram"></i
          ></a>
        </div>
        <p>
          - SHOP COMING SOON
        </p>
      </div>
    </div>
  </body>
</html>
